<mat-card>
  <div class="about">
    <h1>
      About
    </h1>
  </div>
<div class="about-container">
  <img src="../../assets/yc500.gif" style="max-width:300px;">
  <h1>Hacker News</h1>
  <p>Hacker News is a social news website focusing on computer science and entrepreneurship. 
    It is run by Paul Graham's investment fund and startup incubator, Y Combinator. 
    In general, content that can be submitted is defined as "anything that gratifies one's intellectual curiosity".
  </p>

  <h2>History</h2>
  <p>The site was created by Paul Graham in February 2007. Initially it was called Startup News or occasionally News.YC. 
    On August 14, 2007, it became known by its current name. It developed as a project of his company Y Combinator, 
    functioning as a real-world application of the Arc programming language which Graham co-developed.</p>
  <p>At the end of March 2014, Graham stepped away from his leadership role at Y Combinator, leaving Hacker News administration in the hands of other staff members.</p>
</div>
</mat-card>
