.mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.showForm {
  text-align: left;    
  margin-top: 15px;
}

.title {
  flex-basis: 0;
}

.company {
  /*flex-basis: 100%;*/
  flex-grow: 1
}

.description {
  text-align: justify;
}

/*.jobform {
  max-width: 60%;
  margin: 2em auto;
  text-align: center;
}

.form-fields {
  width: 100%;
}

.submitButton {
  float: right;
  background-color: #aacc88;
}

.closeButton {
  float:left;
  color: #fff;
}*/

