.mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.showForm {
  text-align: left;    
  margin-top: 15px;
}

.title {
  flex-basis: 0;
}

.company {
  flex-grow: 1
}

.description {
  text-align: justify;
}

