<!DOCTYPE html>
<html>
<head>
  <title>Jobs</title>
</head>
<body>
  <h1>Y Combinator Jobs</h1>
<div>
  <mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header> 
      <mat-panel-title>Software Engineer</mat-panel-title>
      <mat-panel-description>Oliver Wyman Group</mat-panel-description>
    </mat-expansion-panel-header>
    <p>HN is an experiment. As a rule, a community site that becomes popular will decline in quality. Our hypothesis is that this is not inevitable—that by making a conscious effort to resist decline, we can keep it from happening./p>
  </mat-expansion-panel>

    <mat-expansion-panel>
    <mat-expansion-panel-header> 
      <mat-panel-title>Java Developer</mat-panel-title>
      <mat-panel-description>Marsh</mat-panel-description>
    </mat-expansion-panel-header>
    <p>HN is an experiment. As a rule, a community site that becomes popular will decline in quality. Our hypothesis is that this is not inevitable—that by making a conscious effort to resist decline, we can keep it from happening./p>
  </mat-expansion-panel>

    <mat-expansion-panel>
    <mat-expansion-panel-header> 
      <mat-panel-title>Data Scientist</mat-panel-title>
      <mat-panel-description>Microsoft</mat-panel-description>
    </mat-expansion-panel-header>
    <p>HN is an experiment. As a rule, a community site that becomes popular will decline in quality. Our hypothesis is that this is not inevitable—that by making a conscious effort to resist decline, we can keep it from happening./p>
  </mat-expansion-panel>

    <mat-expansion-panel>
    <mat-expansion-panel-header> 
      <mat-panel-title>Support Admin</mat-panel-title>
      <mat-panel-description>Amazon Web Service</mat-panel-description>
    </mat-expansion-panel-header>
    <p>HN is an experiment. As a rule, a community site that becomes popular will decline in quality. Our hypothesis is that this is not inevitable—that by making a conscious effort to resist decline, we can keep it from happening./p>
  </mat-expansion-panel>
</mat-accordion>
</div>
</body>

</html>