.mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.jobform {
  max-width: 60%;
  margin: 2em auto;
  text-align: center;
}

.form-fields {
  width: 100%;
}

.submitButton {
  float: right;
  background-color: #aacc88;
}

.closeButton {
  float:left;
  color: #fff;
}

.showForm {
  text-align: left;    
}

.title {
  flex-basis: 0;
}
.company {
  /*flex-basis: 100%;*/
  flex-grow: 1
}