<mat-card>
  <div>
    <h1>
      Jobs
    </h1>
  </div>
  <div class="container" *ngIf="jobStorage.length">
    <mat-accordion *ngFor="let job of jobStorage">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="title">{{ job.position }}</mat-panel-title>
          <mat-panel-description class="company">{{ job.company }}</mat-panel-description>
        </mat-expansion-panel-header>
        <p class="description">{{ job.description }}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="showForm">
    <button mat-raised-button color="primary" (click)="openAddJobDialog()">Add New Job</button>
  </div>
</mat-card>
