.mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.list {
  text-align: left;  
}
.newsform {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-fields {
  width: 100%;
}

.selected-news {
  padding: 0px 16px;
}
.submitButton {
  float: right;  
}

.buttons-row {
  text-align: left;
}