<mat-card>
  <div class="container">
    <div style="text-align:center">
      <h1>
        News
      </h1>
    </div>
    <div class="list" *ngIf="allNews.length">
      <mat-selection-list #news>
        <div *ngFor="let news of allNews">
          <mat-list-option [selected]="news.selected" (click)="markNews(news)">
            <h4 mat-line>{{ news.title }} </h4>
            <p mat-line>published by {{ news.author || 'n/a'}} 
              | {{ timeToNow(news.publishedAt) }} | web
            </p>
          </mat-list-option>
        </div>
      </mat-selection-list>
      <p class="selected-news">
        News selected: {{news.selectedOptions.selected.length}}
      </p>
    </div>
    <div class="buttons-row">
      <button mat-raised-button color="primary" [disabled]="!navigator" (click)="fetchTopNews()">
       {{ navigator ? 'Refresh News' : 'You\'re Offline'}}
     </button>
      <button mat-raised-button color="accent" (click)="openAddNewsDialog()">Create News</button>
    </div>
  </div>
</mat-card>
