
<mat-card class="container-wrapper">
  <div>
    <h1>
      Dashboard
    </h1>
  </div>
  <div class="container">
    <div class="selected-news" *ngIf="selectedNews.length">
     <mat-card>
      <h3>Selected News</h3>
      <div *ngFor='let news of selectedNews'>
        <p>{{ news.title }}</p>
      </div>
    </mat-card>
    </div>
 
    <div class="latest-news" *ngIf="createdNews.length">
      <mat-card>
      <h3>Latest News</h3>
      <div *ngFor='let news of createdNews'>
        <p>{{ news.title }}</p>
      </div>
      </mat-card>
    </div>

    <div class="new-jobs" *ngIf="createdJobs.length">
      <mat-card>
      <h3>New Jobs</h3>
      <div *ngFor='let jobs of createdJobs'>
        <p>{{ jobs.position + ' (' + jobs.company + ') '}}</p>
      </div>
      </mat-card>
    </div>
  </div>
</mat-card>
